
.nav {
    margin-top:60px;
    background-color: #00cc66;
    width: 100%;
    height: fit-content;
  }
  .nav ul {
    list-style-type: none; /*specifies the list style type marker, in this case its none*/
    display: table;
  }
  .nav li {
    float: left;
    text-align: center;
  }
  
  .nav li a {
    display: table-cell; /*property specifies the display behavior (the type of rendering box) of an element*/
    width: 200px;
    height: 50px;
    text-decoration: none;
    color: black;
    vertical-align: middle;
    background-color: #00cc66;
  }
  
  .nav li a:hover {
    color: #f0e68c;
    background-color: black;
  }
  .article {
    /* width: 80%; */
    float: left;
    height: fit-content;
  }

  .aside {
    width: 20%;
    float: left;
    color: black;
    height: fit-content;
    background-color: #00cc66;
  }
  .aside ul {
    list-style-type: none; /*specifies the list style type marker*/
    display: table;
  }
  .aside li {
    float: right;
    border-radius: 10px;
    background-color: grey;
  }
  
  .aside li a {
    display: table-cell;
    width: 200px;
    height: 30px;
    text-decoration: none;
    color: black;
    vertical-align: middle;
    background-color: #00cc66;
  }
  .aside li a:hover {
    color: #f0e68c;
    background-color: black;
  }
  
  .bld {
    display: none;
  }
  .cole {
    display: none;
  }
  .sugar {
    display: none;
  }
  .hrt {
    display: none;
  }
  .thal {
    display: none;
  }
  .wt {
    display: none;
  }
  .ht {
    display: none;
  }
  .rmk {
    display: none;
  }
  
  .sv2 {
    display: none;
  }
  .sv3 {
    display: none;
  }
  .sv4 {
    display: none;
  }
  .sv5 {
    display: none;
  }
  .sv6 {
    display: none;
  }
  .sv7 {
    display: none;
  }
  .sv8 {
    display: none;
  }
  .mon {
    display: none;
  }
  .tue {
    display: none;
  }
  .wed {
    display: none;
  }
  .thur {
    display: none;
  }
  .fri {
    display: none;
  }
  .sat {
    display: none;
  }
  .remark {
    display: none;
  }
  .logbookbody {
    margin-top: 50px;
  }
  